section {padding:40px 0;}
section h2.tit {color:#222; font-size:20px; margin-bottom: 40px; text-align: center;}
section ul.group {display:flex; flex-wrap:wrap;}

.section02 .group li {width:calc(25% - 20px); margin:0 10px 20px;}
.section02 .group li a {display:block;}
.section02 .group li a .img-box {height:300px; background:#000; margin-bottom:20px;}
.section02 .group li a .txt-box {height:100px;}
.section02 .group li a .txt-box p {text-align:center;}
.section02 .group li a .txt-box p.tit {font-size:14px; color:#7df7f7; margin-bottom:10px;}
.section02 .group li a .txt-box p.price {color:#222; font-size:16px;}
.section02 .group li a .txt-box p.price .per {color:#ff0000; margin-right:4px;}